.price__container {
  max-width: $width-desktop;
  margin: 0 auto;
  padding: 100px 105px 0;
  box-sizing: border-box;
  position: relative;

  @media (max-width: $width-tablet) {
    padding: 70px 60px 0;
  }

  @media (max-width: $width-mobile) {
    padding: 60px 5%  0;
  }

  @media (max-width: 450px) {
    padding: 60px 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -147px;
    right: -100px;
    width: 445px;
    height: 421px;
    background-image: url("../img/background/light-background/cheeseburger.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transform: rotate(-5deg);
    opacity: 0.1;

    @media (max-width: 1150px) {
      top: -176px;
      width: 400px;
    }

    @media (max-width: $width-tablet) {
      top: -190px;
      width: 350px;
    }

    @media (max-width: $width-mobile) {
      top: -240px;
      width: 300px;
    }

    @media (max-width: 600px) {
      top: -280px;
      right: -100px;
      width: 250px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -147px;
    right: 75%;
    width: 433px;
    height: 429px;
    background-image: url("../img/background/light-background/hot-dog.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    opacity: 0.1;

    @media (max-width: 1150px) {
      bottom: -147px;
      right: 80%;
      width: 400px;
    }

    @media (max-width: $width-tablet) {
      bottom: -120px;
      width: 350px;
    }

    @media (max-width: $width-mobile) {
      bottom: -100px;
      width: 300px;
    }

    @media (max-width: 600px) {
      right: 74%;
      bottom: -60px;
      width: 250px;
    }

    @media (max-width: 450px) {
      display: none;
    }
  }
}

.price__title {
  margin: 0;
  padding: 0 0 20px;
  font-family: $font-title;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: $basic-green;

  @media (max-width: $width-tablet) {
    padding-bottom: 15px;
    font-size: 30px;
    line-height: 30px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 10px;
    font-size: 26px;
    line-height: 26px;
  }

  @media (max-width: 450px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.price__description {
  margin: 0;
  padding: 0 0 50px;

  @media (max-width: $width-tablet) {
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (max-width: 450px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.price__calculation {
  padding: 33px 38px 84px 33px;
  border: 1.5px solid $green;
  border-radius: 17px;
  box-sizing: border-box;

  @media (max-width: $width-tablet) {
    padding: 25px 25px 55px;
  }

  @media (max-width: 450px) {
    border-left: none;
    border-right: none;
  }
}

.price__calculation-section {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  padding: 0;

  @media (max-width: 450px) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
  }
}

.price__input-container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 18vw;
  min-width: 235px;
  height: 100%;
  position: relative;
  overflow: hidden;

  @media (max-width: $width-tablet) {
    width: 25vw;
    min-width: 210px;
  }

  @media (max-width: $width-mobile) {
    width: 150px;
    min-width: 150px;
  }
}

.price__calculation-label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  height: fit-content;
  font-family: inherit;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  white-space: nowrap;
  color: $basic-green;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  z-index: -1;

  @media (max-width: $width-tablet) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (max-width: $width-mobile) {
    font-size: 13px;
    line-height: 13px;
  }
}

.price__calculation-input {
  width: 100%;
  height: 83px;
  padding: 0 15px;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  text-transform: uppercase;
  color: $green;
  background-color: transparent;
  border: 2px solid $green;
  box-sizing: border-box;
  outline: none;
  z-index: 10px;

  @media (max-width: $width-tablet) {
    height: 68px;
    padding: 0 10px;
    font-size: 30px;
    line-height: 35px;
  }

  @media (max-width: $width-mobile) {
    height: 53px;
    font-size: 26px;
    line-height: 30px;
  }
}

.price__calculation-input:hover,
.price__calculation-input:focus {
  border: 3px solid $basic-green;
  transition: all 100ms ease-in-out;
}

.price__calculation-input::-webkit-outer-spin-button,
.price__calculation-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price__calculation-input:invalid {
  border-color: red;
}

.price__calculation-description {
  margin: 0;
  padding: 0 0 0 80px;
  font-weight: 300;

  @media (max-width: $width-tablet) {
    padding-left: 40px;
    font-size: 15px;
    line-height: 16px;
  }

  @media (max-width: $width-mobile) {
    padding-left: 30px;
    font-size: 13px;
    line-height: 14px;
  }

  @media (max-width: 450px) {
    padding-left: 20%;
  }
}

.price__calculation-br {
  @media (max-width: 1200px) {
    display: none;
  }
}

.price__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
