$white: #ffffff;
$white-20: hsla(0, 0%, 100%, 0.2);
$black: #000000;
$basic-green: #006837;
$green: #3A7539;


// Section price
$border-section: $green;
$step-1: #85BF3F;
$step-2: #39AE4A;
$step-3: #008B45;
$step-4: $green;
$border-info: $green;
