$white: #ffffff;
$white-70: #fff9;
$white-20: #fff3;
$white-15: #fff2;
$black: #000000;
$black-40: #00000066;
$black-50: #00000080;
$black-60: #00000099;
$black-70: #000000b3;
$dark-grey: #252323;
$basic-green: #006837;
$green: #3A7539;
$green-dark: #005C31;

//BODY
$background-header: $dark-grey;
$background-menu: $dark-grey;
$background-footer: $dark-grey;

$button-delivery-hover: $green-dark;


// Section price
$border-section: $green;
$step-1: #85BF3F;
$step-2: #39AE4A;
$step-3: #008B45;
$step-4: $green;
$border-info: $green;
