@font-face {
  font-family: "Natasha";
  src: url("../fonts/natasha2.woff2") format("woff2"), url("../fonts/natasha.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$font-title: "Natasha", sans-serif;
$font-general: "Roboto", -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
