.modal-order {
  display: none;
}

.modal-order--active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1000;
}

.modal-order__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: auto;
  margin: 0;
  padding: 66px 94px 18px 66px;
  color: $white;
  background-color: $background-header;
  background-image: url("../img/background-dark.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: -10px 10px 20px 10px $black-70;
  overflow: hidden;
  position: relative;

  @media (max-width: $width-tablet) {
    padding: 46px 74px 16px 46px;
  }

  @media (max-width: 550px) {
    padding: 36px 30px 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 16px;
    width: 145px;
    height: 148px;
    background-image: url("../img/main-logo.svg");
    background-size: 145px 148px;
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (max-width: $width-tablet) {
      top: 20px;
      right: 20px;
      width: 100px;
      height: 103px;
      background-size: 100px 103px;
    }

    @media (max-width: 550px) {
      top: 80px;
      right: 20px;
      width: 70px;
      height: 73px;
      background-size: 70px 73px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: -40px;
    width: 238px;
    height: 243px;
    background-image: url("../img/main-logo.svg");
    background-size: 238px 243px;
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: rotate(-15deg);
    opacity: 0.05;
  }
}




.modal-order__title {
  margin: 0;
  font-family: $font-title;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: $width-tablet) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (max-width: $width-mobile) {
    font-size: 16px;
    line-height: 18px;
  }
}



.modal-order__question {
  align-self: start;
  text-align: start;
  padding-bottom: 60px;

  @media (max-width: $width-tablet) {
    padding-bottom: 45px;
  }

  @media (max-width: $width-mobile) {
    padding-bottom: 35px;
  }
}

.modal-order__question-title {
  padding: 0 0 22px;

  @media (max-width: $width-tablet) {
    padding: 0 0 19px;
  }

  @media (max-width: $width-mobile) {
    padding: 0 0 16px;
  }
}

.modal-order__question-questions {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;

  @media (max-width: $width-tablet) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (max-width: $width-mobile) {
    font-size: 12px;
    line-height: 18px;
  }
}



.modal-order__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal-order__contacts-title {
  padding: 0 0 9px;

  @media (max-width: $width-tablet) {
    padding-bottom: 7px;
  }

  @media (max-width: 550px) {
    padding-bottom: 5px;
  }
}

.modal-order__contacts-description {
  margin: 0;
  padding: 0 0 29px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  text-transform: lowercase;

  @media (max-width: $width-tablet) {
    padding: 0 0 20px;
    font-size: 14px;
    line-height: 16px;
  }

  @media (max-width: 550px) {
    font-size: 12px;
    line-height: 14px;
  }
}


.modal-order__contacts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 44px;
  width: 100%;
  height: auto;
  z-index: 1;

  @media (max-width: $width-tablet) {
    gap: 35px;
  }

  @media (max-width: 550px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.modal-order__contacts-item {
  padding: 58px 40px 11px;
  text-align: center;
  border: 1px solid $white;
  box-sizing: border-box;
  position: relative;

  @media (max-width: $width-tablet) {
    padding: 48px 23px 9px;
  }
}

.modal-order__phone-numbers {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;

  @media (max-width: 550px) {
    font-size: 13px;
    line-height: 21px;
  }

  &::before {
    content: attr(data-title);
    position: absolute;
    top: 16px;
    left: 50%;
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    text-transform: uppercase;
    transform: translate(-50%, 0);

    @media (max-width: $width-tablet) {
      font-size: 15px;
      line-height: 17px;
    }

    @media (max-width: 550px) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.modal-order__phone-link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    color: $white-70;
  }

  &:active {
    color: $white-20;
  }
}

.modal-order__mail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  color: $white;
  text-decoration: none;

  @media (max-width: 550px) {
    font-size: 13px;
    line-height: 16px;
  }


  &::before {
    content: attr(data-title);
    position: absolute;
    top: 16px;
    left: 50%;
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    text-transform: uppercase;
    transform: translate(-50%, 0);

    @media (max-width: $width-tablet) {
      font-size: 15px;
      line-height: 17px;
    }

    @media (max-width: $width-mobile) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.modal-order__mail:hover,
.modal-order__mail:focus {
  outline: none;
  color: $white-70;
}

.modal-order__mail:active {
  color: $white-20;
}
