$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1340px;

.page {
  height: 100%;
}

.page__body {
  min-width: $width-mobile;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  align-content: start;
  font-family: $font-general;
  font-size: 20px;
  line-height: 23px;
  color: $black;
  background-color: $white;
}
