$max-width-desktop: 1450px;
$max-persent-burger-desktop: 29%;
$width-veiwport: 100vw;
$persent-veiwport-desktop: 0.15;
$calc1: calc(#{$max-width-desktop} - #{$width-veiwport});
$calc-desktop-1: calc(#{$calc1} * #{$persent-veiwport-desktop});
$calc-desktop-2: calc(#{$max-persent-burger-desktop} - #{$calc-desktop-1});
$calc-background-burger: calc(100% - #{$calc-desktop-2});


.page-header {
  color: $white;
  background-color: $background-header;
  background-image: url("../img/background-dark.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.page-header__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
  max-width: $width-desktop;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  box-sizing: border-box;

  @media (max-width: $width-tablet) {
    padding: 40px;
  }

  @media (max-width: $width-mobile) {
    padding: 0;
  }

  &::before {
    @media (min-width: 100vw) {
      content: "";
      position: absolute;
      top: 70px;
      left: -29%;
      width: 762px;
      height: 572px;
      background-image: url("../img/header/background-burger-left.png");
      background-size: 762px 572px;
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 10%;
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/header/background-burger-left@2x.png");
      background-size: 762px 572px;
    }

    @media (max-width: $width-desktop) {
      left: auto;
      right: $calc-background-burger;
    }

    @media (max-width: $width-tablet) {
      display: none;
    }

    @media (max-width: $width-mobile) {
      display: inline-block;
      top: auto;
      bottom: -20px;
      right: 70%;
      width: 540px;
      height: 320px;
      background-size: 540px 320px;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  &::after {
    @media (min-width: 100vw) {
      content: "";
      position: absolute;
      top: 70px;
      right: -15%;
      width: 524px;
      height: 688px;
      background-image: url("../img/header/background-burger-right.png");
      background-size: 524px 688px;
      background-repeat: no-repeat;
      background-position: 50% 0;
      opacity: 10%;
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/header/background-burger-right@2x.png");
      background-size: 524px 688px;
    }

    @media (max-width: $width-desktop) {
      left: $calc-background-burger;
      right: auto;
    }

    @media (max-width: $width-tablet) {
      top: 0;
      left: auto;
      right: -250px;
      opacity: 7%;
    }

    @media (max-width: $width-mobile) {
      top: auto;
      bottom: -100px;
      left: 70%;
      width: 300px;
      height: 400px;
      background-size: 300px 400px;
    }
  }
}

.page-header__logo {
  margin: 0;
  padding: 0;
  line-height: 0;

  @media (max-width: $width-tablet) {
    width: 100px;
    height: auto;
  }

  @media (max-width: $width-mobile) {
    padding: 20px 20px 10px;
    width: 70px;
    height: 71px;
  }
}

.page-header__logo-img {
  width: 100%;
  height: 100%;
}

.page-header__desctiption {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  order: 1;

  @media (max-width: $width-tablet) {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 30px;
  }

  @media (max-width: $width-mobile) {
    margin-top: 0;
    padding: 0 20px;
    transition: padding-top 500ms ease-in-out;
  }
}

.page-header__desctiption--open-phone {
  @media (max-width: $width-mobile) {
    padding-top: 100px;
  }

  @media (max-width: 500px) {
    padding-top: 140px;
  }
}

.page-header__desctiption--open-menu {
  @media (max-width: $width-mobile) {
    padding-top: 190px;
  }
}

.page-header__desctiption--nojs {
  @media (max-width: $width-mobile) {
    padding-top: 240px;
  }
}

.page-header__description-title {
  margin: 0;
  padding: 0 0 12px;
  font-family: $font-title;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $basic-green;

  @media (max-width: $width-tablet) {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (max-width: $width-mobile) {
    font-size: 60px;
    line-height: 65px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 40px;
  }
}

.page-header__desctiption-clarification {
  margin: 0 0 27px;
  font-family: $font-title;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: $white-20;

  @media (max-width: $width-tablet) {
    font-size: 45px;
    line-height: 45px;
  }

  @media (max-width: $width-mobile) {
    margin-bottom: 35px;
    font-size: 25px;
    line-height: 25px;
  }
}

.page-header__desctiption-text {
  margin: 0 0 39px;
  padding: 0 80px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;

  @media (max-width: $width-tablet) {
    font-size: 14px;
    line-height: 14px;
  }

  @media (max-width: $width-mobile) {
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 80px;
    padding: 0 40px;
  }
}

.page-header__text-br {
  @media (max-width: 500px) {
    display: none;
  }
}

.page-header__contacts {
  margin: 0;
  padding: 3px 0 0;
  text-align: end;

  @media (max-width: $width-mobile) {
    padding-top: 10px;
  }
}

.page-header__button-container {
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $width-tablet) {
    bottom: -23px;
  }

  @media (max-width: $width-mobile) {
    bottom: -19px;
  }
}

.page-header__button:active {
  margin-bottom: 2px;
}
