.menu-examples {
  color: $white;
  background-color: $background-header;
  background-image: url("../img/background-dark.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  overflow: hidden;
}

.menu-examples__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: $width-desktop;
  margin: 0 auto;
  padding: 55px 20px;
  box-sizing: border-box;
  position: relative;

  @media (max-width: $width-tablet) {
    padding: 55px 40px;
  }

  @media (max-width: $width-mobile) {
    padding: 55px 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -245px;
    right: -30px;
    width: 38%;
    height: 478px;
    background-image: url("../img/background/dark-background/limon.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    opacity: 0.1;

    @media (max-width: 1150px) {
      top: -300px;
      width: 40%;
    }

    @media (max-width: $width-tablet) {
      top: -330px;
      width: 350px;
    }

    @media (max-width: $width-mobile) {
      top: -350px;
      width: 300px;
    }

    @media (max-width: 600px) {
      top: -370px;
      right: -40px;
      width: 250px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -280px;
    right: -100px;
    width: 445px;
    height: 421px;
    background-image: url("../img/background/dark-background/cheeseburger.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transform: rotate(-5deg);
    opacity: 0.1;

    @media (max-width: 1150px) {
      bottom: -250px;
      width: 400px;
    }

    @media (max-width: $width-tablet) {
      bottom: -230px;
      width: 350px;
    }

    @media (max-width: $width-mobile) {
      bottom: -180px;
      width: 300px;
    }

    @media (max-width: 600px) {
      bottom: -140px;
      right: -100px;
      width: 250px;
    }
  }
}

.menu-examples__title {
  margin: 0;
  padding: 0 0 20px;
  font-family: $font-title;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;

  @media (max-width: $width-tablet) {
    font-size: 30px;
    line-height: 30px;
  }

  @media (max-width: $width-mobile) {
    font-size: 26px;
    line-height: 26px;
  }
}

.menu-examples__description {
  margin: 0;
  padding: 0 0 65px;
  font-weight: 300;
  line-height: 27px;
  text-transform: uppercase;

  @media (max-width: $width-tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: $width-mobile) {
    font-size: 14px;
    line-height: 18px;
  }
}

.menu-examples__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  z-index: 1;

  @media (max-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.menu__changes {
  align-self: flex-end;
  padding: 65px 6% 0 0;

  @media (max-width: $width-tablet) {
    align-self: flex-start;
    padding: 50px 0 0 20%;
    font-size: 16px;
    line-height: 16px;
  }

  @media (max-width: $width-mobile) {
    padding: 40px 0 0 70px;
    font-size: 14px;
    line-height: 14px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -420px;
    right: 76%;
    width: 646px;
    height: 661px;
    background-image: url("../img/background/dark-background/meet-peper.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 100% 0;
    opacity: 0.1;

    @media (max-width: 1200px) {
      display: none;
    }

    @media (max-width: $width-tablet) {
      bottom: -490px;
      left: -290px;
      width: 450px;
    }

    @media (max-width: $width-mobile) {
      display: none;
    }
  }
}

.menu__changes-vegan {
  margin: 0;
  padding: 0 0 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__changes-ask {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.menu__changes-br {
  @media (max-width: $width-mobile) {
    display: none;
  }
}
